.form
{
    display: flex;
    flex-direction: column;
}

.loading-indicator
{
    display: flex;
    justify-content: center;
}


.mt-25p
{
    margin-top: 5%;
}

@media screen and (min-height: 500px) {
   .mt-25p
{
    margin-top: 10%;
}
}

@media screen and (min-height: 800px) {
   .mt-25p
{
    margin-top: 15%;
}
}